{% extends 'app/base.html' %}
{% load static %}
{% block corpo %}

<div class="row section">

    	<div class="col s12 m6">
            <div class="card grey lighten-2 center ">
            <div class="card-content blue-grey-text darken-4">
            	<img src="{%static 'imagens/sala.png' %}" alt="sala.png" height="124" width="120">
                <h5>Selecione uma sala para reservar</h5>
    			
        	</div>
            <div class="card-action">
                  <a class="blue-grey-text darken-4" href="{% url 'listar_salas' %}">Salas</a>
            </div>
            </div>
       	</div>

        <div class="col s12 m6">
        	<div class="card grey lighten-2 center">
                <div class="card-content blue-grey-text darken-4">
            	<img src="{%static 'imagens/caixa_som.png' %}" alt="caixa_som.png" height="124" width="120">
                <h5>Selecione um material para reservar</h5>
                </div>
                <div class="card-action">
                  <a class="blue-grey-text darken-4" href="{% url 'listar_materiais' %}">Materiais</a>
                </div>
        	</div>
        </div>	
    	
 
</div>  
{% endblock %}